<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
<script>
      window.addEventListener("load",function(){
        let ele = document.getElementsByTagName("output")[0];
        setInterval(function(){
            let date = moment().format("いまHHじmmふんss");
            ele.innerHTML = date;
        },100);
      },false)
</script>
<%= render 'component/header' %>
<div class="main">
  <div class="drops">
    <!-<div class="drop1"></div>-->
    <div class="drop2"></div>  
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="liquid">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="liquid" />
      </filter>
    </defs>
  </svg>
    <div class="output">
      <output></output>
    </div>
    <img src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png">
    <%= button_to "おす", {controller: 'home', action: 'batch'}, {method: :get} %>
</div>
<%= render 'component/footer' %>
