<%= render 'component/header' %>
<div class="main">
    <p>いま22じ22ふん</p>
    <img src="https://www.bukkyo-u.ac.jp/kindergarten/assets/images/footer/organization.png">
    <%= button_to "おす", {controller: 'home', action: 'batch'}, {method: :get} %>
</div>
<%= render 'component/footer' %>
