<head>
  <meta charset="UTF-8">
  <title>All rights reserved by webcampnavi.</title>
</head>
<footer>
  <ul class="leaf">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</footer>