<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="example.css">
  <title>All rights reserved by webcampnavi.</title>
</head>
<footer>
  	<p>? All rights reserved by webcampnavi.</p>
</footer>