<head>
  <meta charset="UTF-8">
  <title>サンプルのサイト</title>
</head>
<header>
<h1 class="headline">
<a>サンプルのサイト</a>
</h1>
<ul class="nav-list">
<li class="nav-list-item">
  <a>Home</a>
</li>
<li class="nav-list-item">About</li>
<li class="nav-list-item">Topic</li>
</ul>
</header>