body{
    margin: 0;
}

.main{
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    border: solid;
}

.output{
    margin-top: 30px;
    font-size: 24px;
}
img{
    max-width: 500px;
}

input{
    width: 200px;
    border-radius: 20px;
    padding: 8px 0;
    margin: 32px;
    background-color: #0695F0;
}

@media screen and (max-width: 500px) {
    img {
      width: 100%;
    }
  }

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
@keyframes drop {
    0% {
      bottom: 0px;
      opacity: 1;
    }
    
    80% {
      opacity: 1;
    }
    
    100% {
      opacity: 1;
      bottom: -200px;
    }
}
  
  @keyframes wave {
    0% {
      background-position: 0 160px;
      background-size: 170px 300px;
    }
    
    100% {
      background-position: 500px -18px;
      background-size: 250px 150px;
    }
  }
  
  body {
    background-color: #e0e0e0;
  }
  
  .drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 1;
    opacity: 0;
    animation: fade-in .1s linear .4s forwards;
  }
  
  .drop1 , .drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #10a7c1
  }
  
  .drop1 {
    width: 90px;
    height: 16px;
    bottom: 2px;
    border-radius: 0;
  }
  
  .drop2 {
    animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite;
  }